*venv/
**/__pycache__/
.ruff_cache/

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

.history/
.ipynb_checkpoints/
.pytest_cache/
.vscode/

raw_data/

.DS_Store

*.egg-info/

*.log

data/original/
data/extracted/*
!data/extracted/discovery_index.json
data/processed/tmp
data/processed/processing_report.json